.app-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 55px;
  border: 0;
  border-radius: 50px;
  padding: 18px 50px;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.app-button__icon {
  height: 2rem;
  padding-right: 10px;
}

.app-button__icon .app-icon {
  height: 100%;
}

.app-button__label {
  font-family: 'Museo Cyrl 500', sans-serif;
  font-size: 1.125rem;
}

/* Themes */

.app-button--tourists,
.app-button--partners {
  color: #fff;
  transition: background-color 0.3s;
}

.app-button--tourists {
  background-color: #ec4403;
}

.app-button--tourists:hover {
  background-color: #ff9600;
}

.app-button--partners {
  background-color: #03b1e3;
}

.app-button--partners:hover {
  background-color: #1e2acb;
}
