.app-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.app-container.app-container--fluid {
  max-width: initial;
}

.app-container--fluid {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 576px) {
  .app-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .app-container {
    max-width: 718px;
  }

  .app-container--fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 992px) {
  .app-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .app-container {
    max-width: 1140px;
  }

  .app-container--fluid {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (min-width: 1380px) {
  .app-container--fluid {
    padding-left: 130px;
    padding-right: 130px;
  }
}
