.app-dashed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f8f9;
  border: 2px dashed #bdbdbd;
}

/* @media (min-width: 576px) {} */

/* @media (min-width: 768px) {} */

@media (min-width: 992px) {
  .app-dashed-container {
    flex-direction: row;
    padding: 2rem 3.5rem;
  }
}

/* @media (min-width: 1200px) {} */

/* @media (min-width: 1380px) {} */
