.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page__tourists,
.start-page__partners {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 100%;
}

.start-page__top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 0 0 2rem;
}

.start-page__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  max-height: 400px;
}

.start-page__foreground {
  position: relative;
  height: auto;
  max-height: 80%;
  transition: transform 0.3s;
}

.start-page__foreground:hover {
  transform: scale(1.1);
}

.start-page__bottom {
  display: flex;
  justify-content: center;
  min-height: 100px;
}

/* @media (min-width: 576px) {} */

@media (min-width: 768px) {
  .start-page {
    flex-direction: row;
    height: calc(100vh - 440px);
    min-height: 539px;
  }

  .start-page__tourists,
  .start-page__partners {
    max-width: 50%;
    padding: 60px 0;
  }
}

/* @media (min-width: 992px) {} */

/* @media (min-width: 1200px) {} */

/* @media (min-width: 1380px) {} */
