.list-news {
  display: flex;
  flex-direction: column;
}

.list-news__cards {
  display: flex;
  flex-wrap: wrap;
}

.list-news__column {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

.list-news__column > a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .list-news__column {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .list-news__column {
    width: 33.33%;
  }
}
