.news-content {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-size: 1rem;
  padding: 3rem 0;
  overflow: auto;
}

.news-image {
  width: 100%;
  float: left;
}

.news-content p {
  margin-top: 0;
}

@media (min-width: 768px) {
  .news-image {
    width: 50%;
    padding-right: 2rem;
  }
}
