.tabout-page {
  display: flex;
  flex-direction: column;
}

.tabout-page__about-title {
  font-family: 'Museo Cyrl 700', sans-serif;
}

.tabout-page__about-delimiter {
  display: none;
}

.tabout-page__about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: -38px 25px 81px 0 rgba(0, 0, 0, 0.2);
}

.tabout-page__about-info {
  font-family: 'Playfair Display', sans-serif;
}

.tabout-page__top-delimiter {
  display: none;
}

.tabout-page__info-title {
  font-family: 'Museo Cyrl 700', sans-serif;
}

.tabout-page__info-content {
  display: flex;
  flex-direction: column;
}

.tabout-page__info-description {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
}

.tabout-page__info-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabout-page__statistic {
  background-color: #117e9e;
}

.tabout-page__statistic-title {
  font-family: 'Museo Cyrl 700', sans-serif;
  color: #a9f6ff;
  text-align: center;
}

.tabout-page__statistic-description {
  font-family: 'Museo Cyrl 500', sans-serif;
  color: #fff;
  text-align: center;
}

.tabout-page__statistic-info {
  background-color: #f4f8f9;
  border-radius: 10px;
}

.tabout-page__statistic-subtitle {
  font-family: 'Museo Cyrl 500', sans-serif;
  text-align: center;
}

.tabout-page__statistic-subdescription {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  text-align: center;
}

.tabout-page__lider-title {
  font-family: 'Museo Cyrl 500', sans-serif;
}

.tabout-page__lider-description {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
}

.tabout-page__contacts {
  text-align: center;
}

.tabout-page__contacts-hint {
  font-family: 'Museo Sans Cyrl 700', sans-serif;
}

.tabout-page__contacts-phone {
  font-family: 'Museo Cyrl 500', sans-serif;
}

.tabout-page__contacts-phone > a {
  color: #e75121;
}

.tabout-page__contacts-email {
  font-family: 'Museo Cyrl 300', sans-serif;
}

/* @media (min-width: 576px) {} */

/* @media (min-width: 768px) {} */

@media (min-width: 992px) {
  .tabout-page__about-title {
    font-size: 1.375rem;
    line-height: 1.875rem;
    padding: 3.75rem 0 2.5rem;
  }

  .tabout-page__about-delimiter {
    display: block;
    width: 140px;
    height: 2px;
    background-color: #25b6e5;
  }

  .tabout-page__about-info {
    width: 70%;
    font-size: 1.125rem;
    padding: 2.188rem 0 4.688rem;
  }

  .tabout-page__top-delimiter {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #eee;
  }

  .tabout-page__about-logo {
    position: absolute;
    top: 50%;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -50%);
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: -38px 25px 81px 0 rgba(0, 0, 0, 0.2);
  }

  .tabout-page__about-logo .app-icon {
    width: 104px;
    height: 160px;
  }

  .tabout-page__info-title {
    font-size: 1.375rem;
    padding: 4.688rem 0 3.125rem;
  }

  .tabout-page__info-content {
    flex-direction: row;
  }

  .tabout-page__info-description {
    width: 70%;
    line-height: 1.5rem;
  }

  .tabout-page__info-right {
    width: 30%;
  }

  .tabout-page__info-description > br {
    display: block;
    padding: 30px 0 0;
    content: '';
  }

  .tabout-page__statistic {
    margin-top: 6.25rem;
  }

  .tabout-page__statistic-title {
    font-size: 1.375rem;
    padding: 6.25rem 0 1.875rem;
  }

  .tabout-page__statistic-description {
    font-size: 1.125rem;
    margin: 0 8rem;
  }

  .tabout-page__statistic-info {
    padding: 3.125rem 4rem;
    margin: 3.75rem 5rem;
  }

  .tabout-page__statistic-subtitle {
    padding-bottom: 1.25rem;
  }

  .tabout-page__lider {
    margin-top: 6.25rem;
  }

  .tabout-page__lider-title {
    font-size: 1.125rem;
    padding-bottom: 1.25rem;
  }

  .tabout-page__contacts {
    padding: 6.25rem 0;
  }

  .tabout-page__contacts-phone {
    font-size: 2.5rem;
    padding: 1.8rem;
  }
}

/* @media (min-width: 1200px) {} */

/* @media (min-width: 1380px) {} */
