.app-navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
}

.app-navigation-item--active,
.app-navigation-item:hover {
  background-color: #fff;
  color: #000;
}

.app-navigation-item__icon {
  height: 2rem;
}

.app-navigation-item__icon .app-icon {
  height: 100%;
  margin-right: 10px;
}

/* Themes */

.app-navigation-item--active.app-navigation-item--tourists .app-icon,
.app-navigation-item--tourists:hover .app-icon {
  color: #ec4403;
}

.app-navigation-item--active.app-navigation-item--partners .app-icon,
.app-navigation-item--partners:hover .app-icon {
  color: #03b1e3;
}
