.app-page-header {
  width: 100%;
  text-align: center;
  font-family: 'Museo Cyrl 700', sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid #eee;
  margin: 0;
}

/* @media (min-width: 576px) {} */

@media (min-width: 768px) {
  .app-page-header {
    font-size: 1.875rem;
    line-height: 2.5rem;
    padding: 0 0 2.5rem 0;
  }
}

@media (min-width: 992px) {
  .app-page-header {
    padding: 3.125rem 0;
  }
}

/* @media (min-width: 1200px) {} */

/* @media (min-width: 1380px) {} */
