.app-navigation {
  display: none;
  width: 100%;
  height: 75px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

/* Themes */

.app-navigation--tourists {
  background-color: #ec4403;
  border: 1px solid #ec4403;
}

.app-navigation--tourists > a {
  border-right: 1px solid #f1977a;
}

.app-navigation--partners {
  background-color: #03b1e3;
  border: 1px solid #03b1e3;
}

.app-navigation--partners > a {
  border-right: 1px solid #68d0ee;
}

/* Children style */

.app-navigation > a:first-child {
  border-radius: 9px 0 0 9px;
}

.app-navigation > a:last-child {
  border-radius: 0 9px 9px 0;
  border-right: 0;
}

/* @media (min-width: 576px) {} */

/* @media (min-width: 768px) {} */

@media (min-width: 992px) {
  .app-navigation {
    display: flex;
  }
}

/* @media (min-width: 1200px) {} */

/* @media (min-width: 1380px) {} */
