.app-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.app-header__brand {
  padding-right: 35px;
}

.app-header__brand .app-icon {
  width: 34px;
  height: 52px;
}

.app-header__center {
  flex: 1;
  padding: 0.5rem 0;
}

.app-header__title {
  font-display: swap;
  font-family: 'Museo Cyrl 700', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

.app-header__subtitle {
  font-display: swap;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #ec4403;
  margin: 0;
}

.app-header__contacts {
  display: none;
  padding: 0.5rem 0;
}

.app-header__phone {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-decoration: none;
  color: initial;
}

.app-header__phone-label {
  margin: 0;
}

/* @media (min-width: 576px) {} */

@media (min-width: 768px) {
  .app-header {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
  }

  .app-header__brand {
    padding-right: 1.625rem;
  }

  .app-header__brand .app-icon {
    width: 66px;
    height: 102px;
  }

  .app-header__title {
    width: 300px;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .app-header__subtitle {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .app-header__contacts {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: right;
  }

  .app-header__phone {
    font-size: 1.625rem;
    line-height: 1.875rem;
  }

  .app-header__phone .app-icon {
    margin-right: 0.9375rem;
    color: #03b1e3;
  }

  .app-header__phone-label {
    font-family: 'Museo Sans Cyrl 300', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #8c8c8c;
  }
}

@media (min-width: 992px) {
  .app-header__phone .app-icon {
    margin-right: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .app-header {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .app-header__brand {
    width: 230px;
  }

  .app-header__brand .app-icon {
    width: 72px;
    height: 112px;
  }

  .app-header__center {
    text-align: center;
    padding: 1.125rem 0;
  }

  .app-header__title {
    width: initial;
  }

  .app-header__contacts {
    padding: 1.375rem 0;
  }
}

@media (min-width: 1366px) {
  .app-header__center {
    padding: 1.125rem 0;
  }

  .app-header__title {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }

  .app-header__contacts {
    padding: 1.375rem 0;
  }
}
