.Cup .cls-1 {
  fill: #fff;
}

.Cup .cls-2 {
  fill: #0cafe8;
}

.Cup .cls-3 {
  fill: #0b90d3;
}

.Cup .cls-4 {
  fill: #f9a74e;
}

.Cup .cls-5 {
  fill: #382673;
  opacity: 0.2;
}

.Cup .cls-10,
.Cup .cls-5 {
  isolation: isolate;
}

.Cup .cls-6 {
  fill: #ffde39;
}

.Cup .cls-7 {
  fill: #fec632;
}

.Cup .cls-10,
.Cup .cls-8,
.Cup .cls-9 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.Cup .cls-8 {
  stroke: #f9a74e;
}

.Cup .cls-8,
.Cup .cls-9 {
  stroke-width: 4px;
}

.Cup .cls-9 {
  stroke: #fec632;
}

.Cup .cls-10 {
  stroke: #fff;
  stroke-width: 2px;
  opacity: 0.3;
}
