.app-darken-container {
  position: relative;
  overflow: hidden;
  background-image: url('../../assets/images/dark-city.png');
  margin: 0 -50px 0;
}

.app-darken-container__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 126, 158, 0.5);
}

.app-darken-container__foreground {
  position: relative;
}

.app-darken-container-border {
  position: absolute;
  left: 50%;
  padding: 5px;
}

.app-darken-container-border--top {
  top: 0;
  transform: translate(-50%, -60%);
}

.app-darken-container-border--bottom {
  bottom: 0;
  transform: translate(-50%, 60%);
}
