.personal-area-page {
  display: flex;
  flex-direction: column;
}

.personal-area-page h2 {
  width: 100%;
  text-align: center;
  font-family: 'Museo Cyrl 700', sans-serif;
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin: 0 0 30px;
  padding: 3.125rem 0 1.875rem;
  border-bottom: 1px solid #eee;
}

.personal-area-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-area-page__form-top {
  padding-top: 30px;
  min-height: 270px;
}

.personal-area-page__form .Textfield {
  width: 340px;
  margin: 0 auto 20px;
}

.personal-area-page__form .Textfield:last-child {
  margin-bottom: 0;
}

.personal-area-page__form-bottom {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.personal-area-page__delimiter {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  height: 1px;
  width: 100%;
  background-color: #eee;
}

.personal-area-page__form-bottom .app-button {
  position: relative;
}

.personal-area-page__form-hint {
  padding: 40px 0 0;
  font-family: 'Museo Sans Cyrl 500', sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #a5a5a5;
}
