.contacts-page {
  display: flex;
  flex-direction: column;
}

.contacts-page__map {
  position: relative;
  width: 100%;
  height: 400px;
}

.contacts-page__contacts {
  position: absolute;
  width: 445px;
  height: 265px;
  top: 50%;
  left: 3.125rem;
  transform: translate(0%, -50%);
  background-color: #fff;
  padding: 3.125rem 2.5rem;
}

.contacts-page__top address {
  max-width: 275px;
  font-family: 'Museo Cyrl 300', sans-serif;
  font-size: 1.375rem;
  font-style: initial;
}

.contacts-page__bottom {
  display: flex;
}

.contacts-page__left {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0 0;
}

.contacts-page__phone {
  font-family: 'Museo Cyrl 700', sans-serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: #000;
}

.contacts-page__email {
  padding: 1.25rem 0 0;
  text-decoration: underline;
}

/* Themes */

.contacts-page--tourists .contacts-page__email {
  color: #ec4403;
}

.contacts-page--partners .contacts-page__email {
  color: #03b1e3;
}
