.app-footer {
  display: flex;
  flex-wrap: wrap;
}

.app-footer__copyright,
.app-footer__social-networks {
  display: flex;
  align-items: center;
  font-family: "Museo Sans Cyrl 300", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.app-footer__copyright {
  justify-content: flex-start;
  flex: 1;
  order: 0;
}

.app-footer__carousel {
  display: none;
  flex: 1 0 auto;
  order: 1;
  height: 50px;
  box-sizing: content-box;
}

.app-footer__social-networks {
  justify-content: flex-end;
  order: 2;
}

.app-footer__social-networks span {
  display: none;
  padding-right: 25px;
}

/* @media (min-width: 576px) {} */

@media (min-width: 768px) {
  .app-footer__copyright {
    order: 1;
  }

  .app-footer__carousel {
    display: block;
    width: 100%;
    order: 0;
    padding: 40px 0;
    line-height: 50px;
  }

  .app-footer__social-networks span {
    display: initial;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .app-footer__copyright,
  .app-footer__social-networks {
    width: 200px;
  }

  .app-footer__copyright {
    flex: 0 0 auto;
    order: 0;
    padding-right: 20px;
  }

  .app-footer__carousel {
    width: initial;
    flex: 1 0 auto;
    order: 1;
  }

  .app-footer__social-networks {
    padding-left: 20px;
  }
}

/* @media (min-width: 1380px) {} */
