.Textfield {
  position: relative;
  border-radius: 7px;
  background-color: #eef2f7;
  padding: 11px 18px 13px;
  border: 1px solid #eef2f7;
  transition: border-color 0.3s, background-color 0.3s;
  cursor: text;
}

.Textfield.focused {
  border-color: #ebebeb;
  background-color: #fff;
}

.Textfield.error {
  border-color: #ff0000;
}

.Textfield:not(.focused) .Textfield input {
  opacity: 0;
}

.Textfield label {
  font-family: 'Museo Sans Cyrl 500';
  font-size: 14px;
  color: #9a9ca0;
  cursor: inherit;
}

.Textfield p {
  margin: 0;
}

.Textfield .placeholder,
.Textfield .error,
.Textfield input {
  font-family: 'Museo Sans Cyrl 700';
  font-size: 16px;
  line-height: 17px;
}

.Textfield .placeholder,
.Textfield .error {
  position: absolute;
  bottom: 13px;
}

.Textfield .placeholder {
  opacity: 0.5;
  transition: opacity 0.1s;
}

.Textfield .error {
  color: #ff0000;
}

.Textfield.focused .error {
  opacity: 0;
}

.Textfield.error:not(.focused) input {
  opacity: 0;
}

.Textfield input {
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin-top: 4px;
  outline: none;
}
