.app-news-card {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: 280px;
  height: 320px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 2.5rem 1.25rem 1.875rem;
  box-shadow: 5px 5px 0 0 #ebebeb;
  transition: background-color 0.3s;
  text-decoration: none;
  color: initial;
}

.app-news-card:hover {
  background-color: #f9f9f9;
}

.app-news-card__title {
  font-family: 'Museo Cyrl 500', sans-serif;
  font-size: 1.125rem;
  padding-right: 20px;
}

.app-news-card:hover .app-news-card__title {
  color: #03b1e3;
  text-decoration: underline;
}

.app-news-card__description {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  flex: 1;
  padding: 1.5rem 0;
}

.app-news-card__footer-left {
  font-family: 'Museo Sans Cyrl 300', sans-serif;
  font-size: 0.875rem;
}
