@import '~sanitize.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/playfairdisplay-regular.eot');
  src:
    url('./assets/fonts/playfairdisplay-regular.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/playfairdisplay-regular.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-regular.woff') format('woff'),
    url('./assets/fonts/playfairdisplay-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/playfairdisplay-italic.eot');
  src:
    url('./assets/fonts/playfairdisplay-italic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/playfairdisplay-italic.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-italic.woff') format('woff'),
    url('./assets/fonts/playfairdisplay-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/playfairdisplay-bold.eot');
  src:
    url('./assets/fonts/playfairdisplay-bold.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/playfairdisplay-bold.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-bold.woff') format('woff'),
    url('./assets/fonts/playfairdisplay-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/playfairdisplay-bolditalic.eot');
  src:
    url('./assets/fonts/playfairdisplay-bolditalic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/playfairdisplay-bolditalic.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-bolditalic.woff') format('woff'),
    url('./assets/fonts/playfairdisplay-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Black';
  src: url('./assets/fonts/playfairdisplay-black.eot');
  src:
    url('./assets/fonts/playfairdisplay-black.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/playfairdisplay-black.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-black.woff') format('woff'),
    url('./assets/fonts/playfairdisplay-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Black';
  src: url('./assets/fonts/playfairdisplay-blackitalic.eot');
  src:
    url('./assets/fonts/playfairdisplay-blackitalic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/playfairdisplay-blackitalic.woff2') format('woff2'),
    url('./assets/fonts/playfairdisplay-blackitalic.woff') format('woff'),
    url('./assets/fonts/playfairdisplay-blackitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 100';
  src: url('./assets/fonts/museo_cyrl_100.eot');
  src:
    url('./assets/fonts/museo_cyrl_100.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_100.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_100.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 100';
  src: url('./assets/fonts/museo_cyrl_100_italic.eot');
  src:
    url('./assets/fonts/museo_cyrl_100_italic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_100_italic.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_100_italic.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_100_italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 300';
  src: url('./assets/fonts/museo_cyrl_300.eot');
  src:
    url('./assets/fonts/museo_cyrl_300.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_300.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_300.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 300';
  src: url('./assets/fonts/museo_cyrl_300_italic.eot');
  src:
    url('./assets/fonts/museo_cyrl_300_italic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_300_italic.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_300_italic.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_300_italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 500';
  src: url('./assets/fonts/museo_cyrl_500.eot');
  src:
    url('./assets/fonts/museo_cyrl_500.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_500.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_500.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 500';
  src: url('./assets/fonts/museo_cyrl_500_italic.eot');
  src:
    url('./assets/fonts/museo_cyrl_500_italic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_500_italic.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_500_italic.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_500_italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 700';
  src: url('./assets/fonts/museo_cyrl_700.eot');
  src:
    url('./assets/fonts/museo_cyrl_700.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_700.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_700.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 700';
  src: url('./assets/fonts/museo_cyrl_700_italic.eot');
  src:
    url('./assets/fonts/museo_cyrl_700_italic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_700_italic.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_700_italic.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_700_italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 900';
  src: url('./assets/fonts/museo_cyrl_900.eot');
  src:
    url('./assets/fonts/museo_cyrl_900.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_900.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_900.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl 900';
  src: url('./assets/fonts/museo_cyrl_900_italic.eot');
  src:
    url('./assets/fonts/museo_cyrl_900_italic.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_cyrl_900_italic.woff2') format('woff2'),
    url('./assets/fonts/museo_cyrl_900_italic.woff') format('woff'),
    url('./assets/fonts/museo_cyrl_900_italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('./assets/fonts/museo_sans_cyrl_100.eot');
  src:
    url('./assets/fonts/museo_sans_cyrl_100.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_sans_cyrl_100.woff2') format('woff2'),
    url('./assets/fonts/museo_sans_cyrl_100.woff') format('woff'),
    url('./assets/fonts/museo_sans_cyrl_100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('./assets/fonts/museo_sans_cyrl_300.eot');
  src:
    url('./assets/fonts/museo_sans_cyrl_300.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_sans_cyrl_300.woff2') format('woff2'),
    url('./assets/fonts/museo_sans_cyrl_300.woff') format('woff'),
    url('./assets/fonts/museo_sans_cyrl_300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('./assets/fonts/museo_sans_cyrl_500.eot');
  src:
    url('./assets/fonts/museo_sans_cyrl_500.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_sans_cyrl_500.woff2') format('woff2'),
    url('./assets/fonts/museo_sans_cyrl_500.woff') format('woff'),
    url('./assets/fonts/museo_sans_cyrl_500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('./assets/fonts/museo_sans_cyrl_700.eot');
  src:
    url('./assets/fonts/museo_sans_cyrl_700.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_sans_cyrl_700.woff2') format('woff2'),
    url('./assets/fonts/museo_sans_cyrl_700.woff') format('woff'),
    url('./assets/fonts/museo_sans_cyrl_700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('./assets/fonts/museo_sans_cyrl_900.eot');
  src:
    url('./assets/fonts/museo_sans_cyrl_900.eot?#iefix')
    format('embedded-opentype'),
    url('./assets/fonts/museo_sans_cyrl_900.woff2') format('woff2'),
    url('./assets/fonts/museo_sans_cyrl_900.woff') format('woff'),
    url('./assets/fonts/museo_sans_cyrl_900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
